.vid{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
.heading{
    text-align: center;
    font-size: 80px;
    color: rgba(29, 210, 231, 0.883);
}
.in{
   border-radius:10px;
   height:5vh;
   width: 40vw;
   font-size:23px;
   cursor: pointer;
}
.add{
    background-color: aquamarine;
    width:8vw;
    height:6vh;
    border-radius: 40px;
    font-size: 30px;
    margin-left:20px;
}
.del{
    cursor: pointer;
    width:5vw;
    height:5vh;
    font-size: 15px;
    background-color:aquamarine;
    border-radius: 40px;
    margin-left:1vw;
}
li{
    font-size: 30px;
    list-style: none;
    color: white;
    margin-left: 20px;
}
.box{
    text-align: center;
    border-color:rgba(0, 0, 0, 0);
    border-width:1px;
    border-style: solid;
    width:80vw;
    background-color:rgba(0, 0, 0, 0.157);
}
.date{
    margin-left:45vw;
    width:100px;
    background-color:rgb(252, 147, 165);
    height:30px;
}
.time{
    margin-left: 20px;
    background-color:rgb(252, 147, 165) ;
}
.dt{
    cursor: pointer;
    width:15vw;
    height:5vh ;
    border-radius: 10px;
    margin-left: 20px;
    font-size:20px;
}
.due{
    cursor: pointer;
    margin-top: 30px;
    color: rgb(0, 114, 244);
    margin-left:5vw;
    font-size: 35px;
}
.date{
    cursor: pointer;
    border-width: 1px;
    width:30vw;
    height: 20vh;
    border-style: solid;
    background-color: transparent;
    margin-left:70vw;
    position: absolute;
    top: 10px;
    right: 0px;
    border-color:transparent;

}
.add:hover{
    cursor: pointer;
    box-shadow:5px 5px;
}
.datee{
    
    /* position: absolute; */
    top: 0px;
    right: 0px;
    font-size: 28px;
    margin-left: 15vw;
    color: rgb(250, 218, 8);
}
.time{
    position: absolute;
    top: 30px;
    right: 0px;
    font-size: 28px;
    left:47px;
    background-color:transparent;
    color: rgb(250, 218, 8);
    
}
#cb{
    width:3vw;
    height:3vh;
}
.edit{
    cursor: pointer;
    /* top: 0px; */
    width:5vw ;
    height:5vh;
    border-radius: 20px;
    font-size: 15px;
    background-color: aquamarine;
    margin-left: 20px;
}
#editTaskText{
    height: 4vh;
    width: 25vw;
    font-size: 25px;
    border-radius: 20px;
}
.save{
    margin-bottom: 10px;
    margin-left: 20px;
    height: 5vh;
    width: 6vw;
    background-color: rgb(241, 114, 72);
    border-radius: 15px;
}
#editDueDate{
    height: 4vh;
    width: auto;
    border-radius: 25px;
}